.container {
  margin: auto;
  margin-top: 12.32rem;
  width: 71.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
}

.brand {
  font-family: Inter;
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 4.6875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.description {
  width: 25rem;
  opacity: 30%;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 0.8rem;
}

.FAQs-section {
  width: 35.25rem;
  margin-top: 5.85rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.FAQ {
  background: rgb(29, 29, 29) !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: 0px 0px 0px 0 rgba(29, 29, 29, 0),
    0px 0px 0px 0px rgba(29, 29, 29, 0), 0px 0px 0px 0px rgba(29, 29, 29, 0) !important;
  margin: 0 !important;
}

.accordion-summary {
  padding: 0 !important;
  margin: 0 !important;
  min-height: auto !important;
}

.accordion-summary * {
  padding: 0 !important;
  margin: 0 !important;
}

.question {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.accordion-details {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 2.45rem !important;
}

.answer {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0em;
  text-align: left;
  width: 34.8125rem;
  opacity: 30%;
  color: #ffffff;
  margin-top: 2.45rem !important;
}
