.container {
  margin: auto;
  margin-top: 13rem;
  width: 77.1875rem;
  height: 22.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.625rem;
  background: #47474780;
}

.brand {
  font-family: Inter;
  font-size: 3.4375rem;
  font-weight: 500;
  line-height: 4.6875rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.form {
  width: 42.875rem;
  height: 3.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-input-field {
  width: 17.25rem;
  height: 3.3125rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: #e4e4e4;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #818181;
  padding-left: 1.4375rem;
  border: 0 !important;
  outline: 0 !important;
}

.email-input-field {
  width: 17.25rem;
  height: 3.3125rem;
  background: #e4e4e4;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #818181;
  padding-left: 1.4375rem;
  border: 0 !important;
  outline: 0 !important;
}

.send-btn {
  width: 7.25rem;
  height: 3.3125rem;
  background: #e3b748;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: 0 !important;
  outline: 0 !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}
