* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  background: rgb(29, 29, 29);
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root::before {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}
